$mainFirstColor: #111111;
$mainSecondColor: #1DD1A1;
$mainThirdColor: #fff;

/****************************** FONT STYLE ***************************/
.font-family-heavy {
  font-family: "SFProDisplay-Heavy", "SFProDisplay-Regular", sans-serif !important;
}

.font-family-bold {
  font-family: "SFProDisplay-Bold", "SFProDisplay-Regular", sans-serif !important;
}

.font-family-bold-pr {
  font-family: "SFProDisplay-Bold", "SFProDisplay-Regular", sans-serif !important;
}

.font-family-medium {
  font-family: "SFProDisplay-Medium", "SFProDisplay-Regular", sans-serif !important;
}

.font-family-light {
  font-family: "SFProDisplay-Heavy", "SFProDisplay-Regular", sans-serif !important;

}

.font-family-regular {
  font-family: "SFProDisplay-Regular", sans-serif !important;
}

.font-family-semi-bold {
  font-family: "SFProDisplay-Semibold", "SFProDisplay-Regular", sans-serif;
}

.font-family-extra-bold {
  font-family: "SFProDisplay-Semibold", "SFProDisplay-Regular", sans-serif;
}

.font-family-semi-bold-pr {
  font-family: "SFProDisplay-Semibold", "SFProDisplay-Regular", sans-serif;
}

.font-weight-bold-PN {
  font-family: "SFProDisplay-Semibold", "SFProDisplay-Regular", sans-serif;
}


/********************* ICON STYLE ********************************/


.icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  background-color: $mainFirstColor;
  vertical-align: middle;

  &.icon-search {
    mask-image: url("../Image/search.svg");
    -webkit-mask-image: url("../Image/search.svg");
  }

  &.icon-bell {
    mask-image: url("../Image/bell.svg");
    -webkit-mask-image: url("../Image/bell.svg");
  }

  &.icon-3-dots {
    mask-image: url("../Image/Ellipse.svg");
    -webkit-mask-image: url("../Image/Ellipse.svg");
  }


}

/********************************* FONT-SIZE STYLE *************************/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "SFProDisplay-Regular", sans-serif;
  background-color: #EEF2F5;

  .navbar {
    padding: 0;
    background-color: $mainThirdColor !important;

    .container {
      .navbar-brand {
        padding: 0 !important;
        margin-right: 0 !important;

        img {

        }
      }

      .collapse {

        .navbar-nav {
          margin-left: 50px;

          .nav-item {
            margin-right: 40px;
            padding: 0;

            .nav-link {
              padding: 0;
              font-size: 14px;
              line-height: 17px;
              color: #343434;
              transition: linear 0.5s;

              &:hover {
                color: $mainSecondColor;
              }

            }

          }
        }

        .navbar-right {
          .d-flex {
            align-items: center;

            .block-1 {
              padding: 9px 16px;
              border-left: 1px solid rgba(9, 56, 69, 0.1);

              .icon {
                width: 24px;
                height: 24px;
                background-color: #ABABAB;
              }
            }

            .block-2 {

              .d-flex {
                align-items: center;

                .man-img {
                  margin-right: 13px;
                  width: 32px;
                  height: 32px;
                  border-radius: 6px;
                  object-fit: cover;
                }

                h5 {
                  margin: 0;
                  font-size: 14px;
                  line-height: 17px;
                  color: $mainFirstColor;
                }

                h6 {
                  margin: 0;
                  font-size: 10px;
                  line-height: 12px;
                  color: #ABABAB;
                }

                .icon-3-dots {
                  margin-left: 51px;
                  width: 4px;
                  height: 20px;
                }

              }

            }

          }
        }

      }
    }
  }

  header {
    .container {
      .row {
        #java-box {
          width: 97%;
          height: 100px;
          background-color: white;
          margin-top: 56px;
          margin-left: 1%;

          .java {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;

            h1 {
              font-weight: bold;
            }

            img {
              margin-top: 9%;

            }

            h4 {
              margin-right: 27%;
              padding-top: 5%;
            }

          }

          .two {
            position: absolute;
            transform: translate(270px, -60px);

            h6 {
              transform: translate(50px, -25px);
            }

            .line-1 {
              width: 310px;
              height: 6px;
              background: silver;
              border-radius: 5px;


              .line-2 {
                width: 115px;
                height: 6px;
                background: linear-gradient(90.01deg, #E10C33 1.29%, #FFF50F 99.99%);


              }

              .line1 {


                position: absolute;
                transform: translate(350px, -38px);
              }
            }

          }
          .line-3 {
            position: absolute;
            width: 64px;
            height: 0px;
            border: 1px solid #093845;
            transform: rotate(90deg);
            left: 613px;
            top: 40px;
          }

        }
      }
    }
  }
  .topshiriqlar {
    transform: translate(10,5);
  }  /*BUni qarab korish kere*/
}
 footer {
   width: 100%;
   height: 100%;
   margin-top: 145px;
   background: #093845;
.logo {
  width: 200px;
  margin-top: 20px;
}
   .text-left {
     width: 220px;
     height: 40px;
     Opacity: 60%;
     font-family: SF UI Display;
     font-size: 12px;
   }
   .link {
     height: 20px;
     width: 95px;
     font-family: SF UI Display;
     font-size: 14px;
     margin-top: 30px;

     .link:hover {
       opacity: 0.5;
     }
   }
   .icon-facebook:hover {
     opacity: 0.5;
   }

   .icon-instagram:hover {
     opacity: 0.5;
   }

   .icon-telegram:hover {
     opacity: 0.5;
   }

   .icon-you-tube:hover {
     opacity: 0.5;
   }
 }

